<h1>Homepage, search and browse</h1>

<p><%= form_tag(browse_path, method: :get) do %>
    <%= text_field_tag :restaurant, params[:restaurant]  %>
    <%= submit_tag 'Search', name: nil %>
  <% end %></p>

 <p><%= form_tag(browse_path, method: :get) do %> 
     <%= button_tag 'Browse', :class => 'button_main' %>
     <% end %></p>
 


