<div class="app-container home">
  <div class="app-background">
  <%# <div id="homepage-image">
    <img src="WGH-fork-mobile.jpg" />
  </div> %>

  <header class="site-header">
    <div class="app-title">What's <br> Good <br> Here<span class="q-mark">?</span></div>
  </header>

  <div class="site-subhead">
    <div class="app-subhead">Get to know the local spots
    </div>
  </div>

  <div class="home-search-area">

    <div class="field">
        <div class="control">
          <%= form_tag(browse_path, method: :get) do %>
            <%= text_field_tag :restaurant, params[:restaurant], :class => 'input home-search-bar mobile', :type => 'text', :placeholder => 'search for venue'  %>
          <% end %>
        </div>
    </div>    

    <div class="field">
       <div class="control">
          <%= form_tag(browse_path, method: :get) do %>
            <%= text_field_tag :restaurant, params[:restaurant], :class => 'input home-search-bar is-large tablet-desktop', :type => 'text', :placeholder => 'search for venue'  %>
          <% end %>
        </div>
    </div>
    
<<<<<<< HEAD
=======
    <div class="or-between">or</div>
>>>>>>> development
    
<div class="or-between"><h4>or</h4></div>

    <div class="home-browse-button">
<<<<<<< HEAD
    <%= link_to 'what\'s nearby', nearby_path, :class => 'button main' %>
</div>
    
<div class="or-between"><h4>or</h4></div>

    <div class="home-browse-button">
        <%= link_to 'see full list', browse_path, :class => 'button main' %>
=======
        <%= link_to 'see list', browse_path, :class => 'button main mobile' %>
    </div>

      <div class="home-browse-button">
        <%= link_to 'see list', browse_path, :class => 'button main is-large tablet-desktop' %>
>>>>>>> development
    </div>


   
   </div>

  </div>
</div>
