<h1>profile page of specific business</h1>
<% if flash[:error_message] %>
<p class="flash-error"><%= flash[:notice] %></p>
<% end %>

<p><% @profile.offers.each do |offer| %>
    <%= offer.offer_detail %>

   <% end %></p>

<% if current_profile && @profile.id == current_profile.id %>
<%= form_with model: @offer, url: offers_path, local: true do |f| %>
<%= f.label "EAT FOOD" %>
<%= f.text_field :offer_detail %>
<%= f.submit %>
  <% end %>
  <% end %>
                  
<p><% @profile.highlights.each do |highlight| %>
      <%= highlight.highlight_detail %>
    <% end %></p>

<p><% @profile.hacks.each do |hack| %>
     <%= hack.hack_detail %>
   <% end %></p>