<h1>profile page of specific business</h1>
<% if flash[:error_message] %>
<p class="flash-error"><%= flash[:error_message] %></p>
<% end %>
<%= form_with model: @profile, local: true do |form| %>

  <%= form.label "Upload a Menu" %>
  <%= form.file_field :menu %>

  <%= form.label "Upload a 360 image" %>
  <%= form.file_field :vr_image %>

  <%= form.label "Upload Floor Plan" %>
  <%= form.file_field :floor_plan%>

  <%= form.submit %>
<% end %>

  <% if @profile.menu.attached? %>
    <%= link_to "View Menu", rails_blob_path(@profile.menu, disposition: "menu"), target: "_new" %>
  <% end %>
  <% if @profile.floor_plan.attached? %>
    <%= link_to "View Floor Plan", rails_blob_path(@profile.floor_plan, disposition: "floor_plan"), target: "_new" %>
  <% end %>

  <% if @profile.vr_image.attached? %>
      <%= image_tag @profile.vr_image %>
  <% end %>

<p><% @profile.offers.each do |offer| %>
    <%= offer.offer_detail %>
    <% if current_profile && @profile.id == current_profile.id %>
      <%= link_to 'delete', offer_path(offer), method: :delete %>
    <% end %>
    <% end %></p>

<% if current_profile && @profile.id == current_profile.id %>
    <%= form_with model: @offer, url: offers_path, local: true do |f| %>
    <%= f.label "EAT FOOD" %>
    <%= f.text_field :offer_detail %>
    <%= f.submit %>
  <% end %>
  <% end %>
       
  
<p><% @profile.locations.each do |location| %>
      <%= location.location_detail %>
      <% if current_profile && @profile.id == current_profile.id %>
      <%= link_to 'delete', location_path(location), method: :delete %>
      <%end %>
      <% end %></p>
<% if current_profile && @profile.id == current_profile.id %>
<%= form_with model: @location, url: locations_path, local: true do |f| %>
<%= f.label "Why We're Awesome" %>
<%= f.text_field :location_detail %>
<%= f.submit %>
    <% end %>
    <% end %>

<p><% @profile.hacks.each do |hack| %>
     <%= hack.hack_detail %>
     <% if current_profile && @profile.id == current_profile.id %>
     <%= link_to 'delete', hack_path(hack), method: :delete %>
     <% end %>
     <% end %></p>

<% if current_profile && @profile.id == current_profile.id %>
<%= form_with model: @hack, url: hacks_path, local: true do |f| %>
<%= f.label "Know All The Secrets" %>
<%= f.text_field :hack_detail %>
<%= f.submit %>
   <% end %>
   <% end %>
   
   <%= link_to "log out", logout_path, method: :delete %>