<div class="app-container profile">
    <div class="top-nav-bar">
        <div>
          <%= link_to "wgh", profiles_path, class: "app-initials" %><span class="nav-q-mark">?</span>
        </div>
        
        <div class="new-search-icon"><i class="fa fa-search"></i></div>
    </div>

    <div class="top-info">
        <div class="name-field">
            <h1 class="business-name">
            <%= @profile.restaurant %></h1>
                <% if flash[:error_message] %>
                <p class="flash-error"><%= flash[:error_message] %></p>
                <% end %>
        </div>  

        <div class="address-phone"><%= @profile.address %>  |  <%= @profile.phone %>
        </div>    

        <div class="hours"> <%= @profile.hours %> </div>
    </div>

    <% if current_profile && @profile.id == current_profile.id %>
    <%= form_with model: @profile, local: true do |form| %>


    <%= form.label "Upload or replace a Menu", class: "upload-file-label", type: "text" %>
    <%= form.file_field :menu %>

    <%= form.label "Upload or replace a 360 image", class: "upload-file-label", type:"text"  %>
    <%= form.file_field :vr_image %>

    <%= form.label "Upload or replace a Floor Plan", class: "upload-file-label", type:"text"  %>
    <%= form.file_field :floor_plan %>

    <%= form.submit "submit", class: "button  upload-button" %>
    <% end %>
    <% end %>

    <% if @profile.vr_image.attached? %>
    <div id="myEmbeddedScene">
   
    
    <a-scene embedded>
    <a-assets>
      <img id="vr-image" crossorigin src=<%= url_for(@profile.vr_image) %>>
    </a-assets>
  <a-sky src="#vr-image"></a-sky>
  </a-scene>
    </div>
    <% end %>
  

<div class="info-section-container">

    <div class="info-section">

        <div class="info-category-header fare">fare</div>

        <div class="view-icon">
            <% if @profile.menu.attached? %>
            <%= link_to "<i class='fas fa-utensils'></i><div class='view-caption'> view menu</div>".html_safe, rails_blob_path(@profile.menu, disposition: "menu"), target: "_new" %>
            <% end %> 
        </div>

        
        <% @profile.offers.each_with_index do |offer, idx| %>

        <div class="<%= 'hidden hideable-fare' if idx > 2 %> fare-detail info-entry"> •   

            <%= offer.offer_detail %> 
            <% if current_profile && @profile.id == current_profile.id %>
            
            <span class="item-delete">
                <%= link_to 'delete', offer_path(offer), method: :delete %> 
            </span> 

            <% end %>
        </div>
            <% end %>    

        <a class="expand-link" onClick=showDetail('hideable-fare')> ... see more</a>

            <% if current_profile && @profile.id == current_profile.id %>
            <%= form_with model: @offer, url: offers_path, local: true do |f| %>
        
            <%= f.text_field :offer_detail, class: 'input add-new-item', type: "text", placeholder: 'enter a new "fare" item here' %> 
            <a class="button save-entry" >
            <%= f.submit %> </a>
            <% end %>
            <% end %>                    

        <div class="info-category-header tips">tips</div>


        <% @profile.hacks.each_with_index do |hack, idx| %>
        
        <div class="<%= 'hidden hideable-tips' if idx > 2 %> tips-detail info-entry"> •
            
            <%= hack.hack_detail %> 

            <% if current_profile && @profile.id == current_profile.id %>

            <span class="item-delete">
            <%= link_to 'delete', hack_path(hack), method: :delete %>
            </span>

            <% end %>
        </div>
            <% end %>    

        <a class="expand-link" onClick=showDetail('hideable-tips')> ... see more</a>

            <% if current_profile && @profile.id == current_profile.id %>
            <%= form_with model: @hack, url: hacks_path, local: true do |f| %>
        
            <%= f.text_field :hack_detail, class: 'input add-new-item', placeholder: 'enter a new "tips" item here', type: "text" %>

            <a class="button save-entry" >
            <%= f.submit %> </a>
            <% end %>
            <% end %>
            

        <div class="info-category-header specs">specs</div>

            <div class="view-icon">
                <% if @profile.floor_plan.attached? %>
                <%= link_to "<i class='fas fa-map'></i> <br> 
                view floor plan".html_safe, rails_blob_path(@profile.floor_plan, disposition: "floor plan"), target: "_new", class: "view-caption" %>
                <% end %>                
            </div>


            <% @profile.locations.each_with_index do |location, idx| %>

            <div class="<%= 'hidden hideable-specs' if idx > 2 %> specs-detail info-entry"> • 

            <%= location.location_detail %> 

            <% if current_profile && @profile.id == current_profile.id %>

            <span class="item-delete">
            <%= link_to 'delete', location_path(location), method: :delete %>
            </span> 

            <% end %>
        </div>
            <% end %>

            <a class="expand-link" onClick=showDetail('hideable-specs')> ... see more</a>    

            <% if current_profile && @profile.id == current_profile.id %>
            <%= form_with model: @location, url: locations_path, local: true do |f| %>
        
            <%= f.text_field :location_detail, class: 'input add-new-item', placeholder: 'enter a new "specs" item here', type: "text" %>
            
            <a class="button save-entry" >
            <%= f.submit %> </a>
                <% end %>
                <% end %>   
    </div>          
</div>

<div class="admin-logout">
    <% if current_profile %>  
    <%= link_to "admin log out", logout_path, method: :delete, class: "button admin-log-out" %>
    <% end %></a>
</div>

</div>   
