<div class="app-container profile">
    <div class="top-nav-bar">
        <div>
          <%= link_to "wgh", profiles_path, class: "app-initials" %><span class="nav-q-mark">?</span>
        </div>
        
        <div class="new-search-icon"><i class="fa fa-search"></i></div>
    </div>

    <div class="top-info">
        <div class="name-field">
            <h1 class="business-name">
            <%= @profile.restaurant %></h1>
                <% if flash[:error_message] %>
                <p class="flash-error"><%= flash[:error_message] %></p>
                <% end %>
        </div>  

        <div class="address-phone"><%= @profile.address %>  |  <%= @profile.phone %>
        </div>    

        <div class="hours"> <%= @profile.hours %> </div>
    </div>

    <% if current_profile && @profile.id == current_profile.id %>
    <%= form_with model: @profile, local: true do |form| %>

 
    <%= form.label "Upload or replace a Menu", class: "upload-file-label", type: "text" %>

    <div class="field">
        <div class="file is-small">
            <label class="file-label">
                <%= form.file_field :menu, class: "file-input" %>
                <span class="file-cta">
                    <span class="file-icon icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
    </div>


    <%= form.label "Upload or replace a 360 image", class: "upload-file-label", type:"text"  %>

    <div class="field">
        <div class="file is-small">
            <label class="file-label">
                <%= form.file_field :vr_image, class: "file-input" %>
                <span class="file-cta">
                    <span class="file-icon icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
    </div>

    <%= form.label "Upload or replace a Floor Plan", class: "upload-file-label", type:"text"  %>

    <div class="field">
        <div class="file is-small">
            <label class="file-label">
                <%= form.file_field :floor_plan, class: "file-input" %>
                <span class="file-cta">
                    <span class="file-icon icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
    </div>


    <%= form.submit "upload file", class: "button is-warning upload-button" %>
    <% end %>
    <% end %>
  
<div class="info-section-container">

    <div class="info-section">

        <div class="info-category-header fare">fare
            <button id="fare-info">More Info</button>

            <div id="fare-modal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <p>This section is where you want to...</p>
                </div>
            </div>
        </div>
    
    
        <div class="view-icon">
            <% if @profile.menu.attached? %>
            <%= link_to "<i class='fas fa-utensils'></i><div class='view-caption'> view menu</div>".html_safe, rails_blob_path(@profile.menu, disposition: "menu"), target: "_new" %>
            <% end %> 
        </div>

        <div class="fare-detail">
        <% @profile.offers.each_with_index do |offer, idx| %>

            <div class="<%= 'hidden hideable-fare' if idx > 2 %> info-entry" id="offer-row-<%= offer.id %>"> •   

                <span id="offer_<%= offer.id %>"><%= offer.offer_detail %></span>
                <% if current_profile && @profile.id == current_profile.id %>
                
                <span class="item-delete">
                    <%= link_to 'edit', edit_offer_path(offer), class: "edit-offer_#{offer.id}", data: {remote: true} %> 
                    <%= link_to 'delete', offer_path(offer), method: :delete, data: {confirm: "Are you Sure?", remote: true}, class: "deletes" %> 
                </span> 
                <% end %>
            </div>
               
            <script>
                $('.edit-offer_<%= offer.id %>').on('click', function(){
                    $(this).closest("div").append("<%= j render 'offerEdit', offer: offer %>");
                    $('.edit-offer_<%= offer.id %>').hide()
                });

                $('.deletes').on('click', function(){
                    $(this).closest("div").remove();
                });
            </script>
            <% end %>         
        </div>

        <a class="expand-link" onClick=showDetail('hideable-fare')> ... see more</a>

            <% if current_profile && @profile.id == current_profile.id %>
            <%= render 'offerForm' %>
            <% end %> 
                              
        <div class="info-category-header tips">tips
        <button id="tips-info">More Info</button>
            <div id="tips-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>This section is where you want to...</p>
                </div>
            </div>
        </div>

        <div class="tips-detail">
        <% @profile.hacks.each_with_index do |hack, idx| %>
        
            <div class="<%= 'hidden hideable-tips' if idx > 2 %> info-entry"> •
                
            <span id="hack_<%= hack.id %>"><%= hack.hack_detail %></span>

                <% if current_profile && @profile.id == current_profile.id %>

                <span class="item-delete">
                <%= link_to 'edit', edit_hack_path(hack), class: "edit-hack_#{hack.id}", data: {remote: true} %>
                <%= link_to 'delete', hack_path(hack), method: :delete, data: {confirm: "Are you Sure?", remote: true}, class: "deletes" %>
                </span>
            
                <% end %>
            </div>

        <script>
            $('.edit-hack_<%= hack.id %>').on('click', function(){
                $(this).closest("div").append("<%= j render 'hackEdit', hack: hack %>");
                $('.edit-hack_<%= hack.id %>').hide()
            });

            $('.deletes').on('click', function(){
                $(this).closest("div").remove();
            });
        </script>
            <% end %>    
        </div>

        <a class="expand-link" onClick=showDetail('hideable-tips')> ... see more</a>

            <% if current_profile && @profile.id == current_profile.id %>
            <%= form_with model: @hack, url: hacks_path do |f| %>
        
            <%= f.text_field :hack_detail, class: 'input add-new-item', id: 'hack_detail_field', placeholder: 'enter a new "tips" item here', type: "text" %>

            <%= f.submit 'save to "tips" list', class: "button is-warning save-entry" %>
            <% end %>
            <% end %>
            
        <div class="info-category-header specs">specs

            <button id="specs-info">More Info</button>
                <div id="specs-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>This section is where you want to...</p>
                    </div>
                </div>
        </div>

        <div class="view-icon">
            <% if @profile.floor_plan.attached? %>
            <%= link_to "<i class='fas fa-map'></i> <br> 
            view floor plan".html_safe, rails_blob_path(@profile.floor_plan, disposition: "floor plan"), target: "_new", class: "view-caption" %>
            <% end %>                
        </div>

        <div class="specs-detail">
            <% @profile.locations.each_with_index do |location, idx| %>

            <div class="<%= 'hidden hideable-specs' if idx > 2 %> info-entry"> • 

            <span id="location_<%= location.id %>"><%= location.location_detail %></span>

            <% if current_profile && @profile.id == current_profile.id %>

            <span class="item-delete">
            <%= link_to 'edit', edit_location_path(location), class: "edit-location_#{location.id}", data: {remote: true} %>
            <%= link_to 'delete', location_path(location), method: :delete, data: {confirm: "Are you Sure?", remote: true}, class: "deletes" %>
            </span> 
            <% end %>

            </div>

            <script>
                $('.edit-location_<%= location.id %>').on('click', function(){
                    $(this).closest("div").append("<%= j render 'locationEdit', location: location %>");
                    $('.edit-location_<%= location.id %>').hide()
                });

                $('.deletes').on('click', function(){
                    $(this).closest("div").remove();
                });
            </script>        
            <% end %>

        </div>

            <a class="expand-link" onClick=showDetail('hideable-specs')> ... see more</a>    

            <% if current_profile && @profile.id == current_profile.id %>
            <%= form_with model: @location, url: locations_path do |f| %>
        
            <%= f.text_field :location_detail, class: 'input add-new-item', id: 'location_detail_field', placeholder: 'enter a new "specs" item here', type: "text" %>

            <%= f.submit 'save to "specs" list', class: "button is-warning save-entry" %>
                <% end %>
                <% end %>
            
    </div>  

        <% if @profile.vr_image.attached? %>
        <div class="info-category-header pano-view">360° view</div>  
            <div id="myEmbeddedScene">
                <a-scene embedded="true">
                    <a-assets>
                        <img id="vr-image" crossorigin src=<%= url_for(@profile.vr_image) %>>
                    </a-assets>

                    <a-sky src="#vr-image"></a-sky>
                </a-scene>
            </div>
        <% end %>

    </div>          
</div>

<div class="admin-logout">
    <% if current_profile %>  
    <%= link_to "admin log out", logout_path, method: :delete, class: "button is-dark admin-log-out" %>
    <% end %></a>
</div>

</div>   
